
@{
	@model LetWeCook.Web.Areas.Account.Models.ViewModels.LoginViewModel;
	string? returnUrl = Context.Request.Query["ReturnUrl"];
}

<div class="flex h-screen flex-col items-center justify-start bg-[#191920]">
	<div class="header flex flex-row items-center justify-center gap-x-4 py-4">
		<div class="logo">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 fill-white" viewBox="0 -960 960 960"><path d="M177-560q14-36 4.5-64T149-680q-33-40-43.5-75.5T102-840h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78Zm160 0q14-36 5-64t-32-56q-33-40-44-75.5t-4-84.5h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78Zm160 0q14-36 5-64t-32-56q-33-40-44-75.5t-4-84.5h78q-8 38-2.5 62t28.5 52q38 46 48.5 81.5t.5 84.5h-78ZM200-160q-50 0-85-35t-35-85v-200h561q5-34 27-59.5t54-36.5l185-62 25 76-185 62q-12 4-19.5 14.5T720-462v182q0 50-35 85t-85 35H200Zm0-80h400q17 0 28.5-11.5T640-280v-120H160v120q0 17 11.5 28.5T200-240Zm200-80Z" /></svg>
		</div>
		<div class="title text-4xl font-semibold text-white">
			LETWECOOK
		</div>
	</div>
	<div class="main flex-1 flex w-full flex-row items-center justify-center gap-x-32">
		<div class="slideshow mt-9 w-[579px] rounded-[20px]">
			<div class="image-holder relative h-[492px] w-[579px] overflow-hidden rounded-[20px]">
				<img data-imageindex="1" class="absolute h-full w-full object-cover transition-all duration-500" src="~/images/intro_dish_1.jpg" alt="intro-dish-1" />
				<img data-imageindex="2" class="opacity-0 absolute h-full w-full object-cover transition-all duration-500" src="~/images/intro_dish_2.jpg" alt="intro-dish-1" />
				<img data-imageindex="3" class="opacity-0 absolute h-full w-full object-cover transition-all duration-500" src="~/images/intro_dish_3.jpg" alt="intro-dish-1" />
				<img data-imageindex="4" class="opacity-0 absolute h-full w-full object-cover transition-all duration-500" src="~/images/intro_dish_4.jpg" alt="intro-dish-1" />

			</div>
			<div class="indicator my-2 flex flex-row items-center justify-center gap-x-2 py-2">
				<div data-index="1" class="slide-nav-btn h-4 w-8 rounded-full bg-gray-600 transition-all duration-500 hover:bg-gray-500">

				</div>
				<div data-index="2" class="slide-nav-btn h-4 w-4 rounded-full bg-slate-50 transition-all duration-500 hover:bg-gray-500">

				</div>
				<div data-index="3" class="slide-nav-btn h-4 w-4 rounded-full bg-slate-50 transition-all duration-500 hover:bg-gray-500">

				</div>
				<div data-index="4" class="slide-nav-btn h-4 w-4 rounded-full bg-slate-50 transition-all duration-500 hover:bg-gray-500">
				</div>
			</div>
		</div>

		<div class="login-form flex w-1/4 flex-col items-center justify-start rounded-[20px] bg-[#232329] p-4">
			<div class="greet-1 w-full pb-2 pt-4 text-center text-2xl font-semibold text-white">
				Hi there!
			</div>
			<div class="greet-2 w-full py-2 text-center text-base text-white">
				Choose provider to sign in.
			</div>
			<div class="oauth-login-buttons my-2 flex w-full flex-row items-center justify-center gap-x-20 pt-2">
				<!-- Google Login Button -->
				<form asp-area="Account" asp-controller="Auth" asp-action="ExternalLogin" asp-route-provider="Google" method="post" class="google-login-btn border-2 flex h-12 w-1/3 items-center justify-center rounded-[10px] border-white hover:!border-4">
					@Html.AntiForgeryToken()
					<input type="hidden" name="returnUrl" value="@returnUrl" />
					<button type="submit" class="tw-flex tw-justify-center items-center">
						<svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-8 w-8 fill-none" viewBox="0 0 32 33">
							<path d="M30.0014 17.1604C30.0014 16.0093 29.9061 15.1693 29.6998 14.2982H16.2871V19.4937H24.1601C24.0014 20.7849 23.1442 22.7293 21.2394 24.0359L21.2127 24.2098L25.4536 27.4295L25.7474 27.4582C28.4458 25.016 30.0014 21.4226 30.0014 17.1604Z" fill="#4285F4" />
							<path d="M16.2863 30.8495C20.1434 30.8495 23.3814 29.605 25.7466 27.4584L21.2386 24.036C20.0323 24.8605 18.4132 25.436 16.2863 25.436C12.5086 25.436 9.30225 22.9939 8.15929 19.6183L7.99176 19.6322L3.58208 22.9767L3.52441 23.1338C5.87359 27.7072 10.699 30.8495 16.2863 30.8495Z" fill="#34A853" />
							<path d="M8.15964 19.6183C7.85806 18.7472 7.68352 17.8138 7.68352 16.8494C7.68352 15.8849 7.85806 14.9516 8.14377 14.0805L8.13578 13.895L3.67083 10.4968L3.52475 10.5649C2.55654 12.4627 2.00098 14.5939 2.00098 16.8494C2.00098 19.105 2.55654 21.236 3.52475 23.1338L8.15964 19.6183Z" fill="#FBBC05" />
							<path d="M16.2864 8.26278C18.9689 8.26278 20.7784 9.39833 21.8102 10.3473L25.8419 6.48949C23.3658 4.23394 20.1435 2.84949 16.2864 2.84949C10.699 2.84949 5.8736 5.99168 3.52441 10.565L8.14345 14.0806C9.30229 10.705 12.5086 8.26278 16.2864 8.26278Z" fill="#EB4335" />
						</svg>
					</button>
				</form>

				<!-- Facebook Login Button -->
				<form asp-area="Account" asp-controller="Auth" asp-action="ExternalLogin" asp-route-provider="Facebook" method="post" class="facebook-login-btn border-2 flex h-12 w-1/3 items-center justify-center rounded-[10px] border-white hover:!border-4">
					@Html.AntiForgeryToken()
					<input type="hidden" name="returnUrl" value="@returnUrl" />
					<button type="submit" class="tw-flex tw-justify-center items-center">
						<svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-8 w-8 fill-none" viewBox="0 0 32 33">
							<circle cx="16" cy="16.8495" r="14" fill="url(#paint0_linear_15855_187608)" />
							<path d="M21.2137 21.131L21.8356 17.1796H17.9452V14.6165C17.9452 13.5352 18.4877 12.4806 20.2302 12.4806H22V9.11648C22 9.11648 20.3945 8.84949 18.8603 8.84949C15.6548 8.84949 13.5617 10.7424 13.5617 14.1679V17.1796H10V21.131H13.5617V30.684C14.2767 30.7934 15.0082 30.8495 15.7534 30.8495C16.4986 30.8495 17.2302 30.7934 17.9452 30.684V21.131H21.2137Z" fill="white" />
							<defs>
								<linearGradient id="paint0_linear_15855_187608" x1="16" y1="2.84949" x2="16" y2="30.7664" gradientUnits="userSpaceOnUse">
									<stop stop-color="#18ACFE" />
									<stop offset="1" stop-color="#0163E0" />
								</linearGradient>
							</defs>
						</svg>
					</button>
				</form>
			</div>

			<div class="or my-1 flex w-full items-center justify-center py-2 text-base text-white">
				or
			</div>
			<div class="login-info flex w-5/6 flex-col items-center justify-center">
				<form asp-area="Account" asp-controller="Auth" asp-action="Login" method="post" class="w-full">
					<div asp-validation-summary="All" class="text-sm text-red-500"></div>
					<label for="Email" class="w-full text-start text-base font-semibold text-white">
						Email
					</label>
					<input asp-for="Email" id="Email" name="Email" class="my-2 h-9 w-full rounded-[10px] fill-[#D9D9D9] px-2" />

					<label for="Password" class="w-full pt-2 text-start text-base font-semibold text-white">
						Password
					</label>
					<input asp-for="Password" id="Password" name="Password" type="password" class="my-2 h-9 w-full rounded-[10px] fill-[#D9D9D9] px-2" />

					<div class="login-btn my-4 flex w-full cursor-pointer items-center justify-center rounded-[10px] bg-[#4BBC05] px-4 py-1 text-center text-lg font-bold text-white hover:bg-green-400">
						<button type="submit" class="h-full w-full">LOGIN</button>
					</div>
				</form>
			</div>

			<div class="register-link flex w-full cursor-pointer items-center justify-center pb-2">
				<a asp-area="Account"asp-controller="Auth" asp-action="Register"  class="text-lg font-bold text-[#8C29E2]">Don't have an account?</a>
			</div>

			<div class="forgot-password-link flex w-full cursor-pointer items-center justify-center pb-4">
				<a asp-area="Account" asp-controller="Auth" asp-action="ForgotPassword" class="text-lg font-bold text-[#8C29E2]">Forgot password?</a>
			</div>

			<div class="terms flex w-full flex-col items-center justify-center">
				<div class="text-base text-white">
					by continuing you are agreeing to our
				</div>
				<div class="flex flex-row items-center gap-x-1.5">
					<a asp-action="Privacy" asp-area="" asp-controller="Home" class="cursor-pointer text-[#730DCD]">
						Terms of Use
					</a>
					<div class="text-white">
						and
					</div>
					<a asp-action="Privacy" asp-area="" asp-controller="Home" class="cursor-pointer text-[#730DCD]">
						Privacy Policy
					</a>
				</div>
			</div>

		</div>

		
	</div>
</div>

@section Scripts {
	<script type="text/javascript" src="~/js/login.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const form = document.querySelector('form');
			const passwordInput = document.querySelector('input[name="Password"]');

			passwordInput.addEventListener('input', function () {
				validatePassword(passwordInput);
				passwordInput.reportValidity();
			});

			form.addEventListener('submit', function (event) {
				validatePassword(passwordInput);

				if (!form.checkValidity()) {
					event.preventDefault();
					passwordInput.reportValidity();
				}
			});

			function validatePassword(input) {
				const password = input.value;
				const minLength = 6;
				const requireDigit = /\d/.test(password);
				const requireLowercase = /[a-z]/.test(password);
				const requireUppercase = /[A-Z]/.test(password);
				const requireNonAlphanumeric = /[^a-zA-Z0-9]/.test(password);

				let message = '';
				if (password.length < minLength) {
					message = "Password must be at least 6 characters long.";
				} else if (!requireDigit) {
					message = "Password must contain at least one digit.";
				} else if (!requireLowercase) {
					message = "Password must contain at least one lowercase letter.";
				} else if (!requireUppercase) {
					message = "Password must contain at least one uppercase letter.";
				} else if (!requireNonAlphanumeric) {
					message = "Password must contain at least one non-alphanumeric character.";
				}

				input.setCustomValidity(message);
			}
		});
	</script>
}