@{
	var result = ViewData["Success"] ?? false;
}

<div class="flex h-screen w-screen flex-row items-center justify-center bg-zinc-800">
	<div class="flex h-full w-2/3 items-center justify-center bg-zinc-800">
		<div class="flex h-full flex-grow basis-7/12 items-center justify-center">
			<div class="relative flex h-full w-4/5 flex-col items-center justify-start">
				<!-- List -->
				<div class="flex h-full w-full flex-col items-center justify-center">
					<span class="mb-6 text-center text-4xl font-bold text-green-600">
						Become a KitchenMaster 👩‍🍳🍳
					</span>
					<p class="mb-4 text-center text-lg text-white">
						Join our culinary community and enjoy exclusive benefits!
					</p>
					<ul class="mb-6 list-inside list-none text-left text-base text-white">
						<li>
							<div class="inline-block rounded-full bg-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="fill-green-500">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
								</svg>
							</div>
							Track your recipes
						</li>
						<li>
							<div class="inline-block rounded-full bg-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="fill-green-500">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
								</svg>
							</div>
							Set your cooking goals
						</li>
						<li>
							<div class="inline-block rounded-full bg-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="fill-green-500">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
								</svg>
							</div>
							Receive personalized recipe recommendations
						</li>
						<li>
							<div class="inline-block rounded-full bg-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="fill-green-500">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
								</svg>
							</div>
							Get exclusive discounts on kitchen tools and ingredients
						</li>
						<li>
							<div class="inline-block rounded-full bg-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="fill-green-500">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
								</svg>
							</div>
							Practice safe and sustainable cooking
						</li>
						<li>
							<div class="inline-block rounded-full bg-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="fill-green-500">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
								</svg>
							</div>
							Build and manage your meal plan
						</li>
						<li>
							<div class="inline-block rounded-full bg-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="fill-green-500">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
								</svg>
							</div>
							Discover the perfect pairings and deals for your favorite ingredients
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="flex h-full flex-grow basis-5/12 items-center justify-center bg-zinc-800">
			<div class="mx-2 flex h-auto w-11/12 justify-center rounded-lg bg-white">
				<div class="flex h-full w-4/5 flex-col items-center justify-start gap-6">

					<div class="border-t-2 h-4 w-full border-gray-200 pt-10 text-base font-semibold">
						<label>Password reset successfully</label>
					</div>
					<div class="mt-4 rounded-lg bg-green-200">
						<div class="inline-block rounded-full px-4 py-4">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="inline-block h-4 w-4 fill-green-500">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
							</svg>
						</div>
						<div>
						</div>
					</div>
					<div class="text-sm text-gray-400">
						<p>You can now login to our website with your new password. Enjoy shopping!</p>
					</div>
					<a asp-area="Account" asp-controller="Auth" asp-action="Login" class="mb-8 w-full rounded-lg bg-green-600 py-2 text-center font-semibold text-white">Return to login</a>
				</div>
			</div>
		</div>
	</div>
</div>



@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
