@{
	@model LetWeCook.Web.Areas.Account.Models.ViewModels.ResetPasswordViewModel
}

<div class="flex h-screen w-screen flex-row items-center justify-center bg-zinc-800">
	<div class="my-1 flex h-full w-2/3 items-center justify-center bg-zinc-800">
		<div class="flex h-full flex-grow basis-7/12 items-center justify-center">
			<div class="relative flex h-full w-4/5 flex-col items-center justify-start">
				<!-- List -->
				<div class="flex h-full w-full flex-col items-center justify-center">
					<h1 class="text-center text-4xl font-bold text-white">Become a </h1>
					<span class="mb-6 text-center text-4xl font-bold text-green-600">
						Become a KitchenMaster 👩‍🍳🍳
					</span>
					<p class="mb-4 text-center text-lg text-white">
						Join our culinary community and enjoy exclusive benefits!
					</p>
					<ul class="mb-6 list-inside list-none text-left text-base text-white">
						<li>
							<div class="inline-block rounded-full bg-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="fill-green-500">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
								</svg>
							</div>
							Track your recipes
						</li>
						<li>
							<div class="inline-block rounded-full bg-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="fill-green-500">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
								</svg>
							</div>
							Set your cooking goals
						</li>
						<li>
							<div class="inline-block rounded-full bg-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="fill-green-500">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
								</svg>
							</div>
							Receive personalized recipe recommendations
						</li>
						<li>
							<div class="inline-block rounded-full bg-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="fill-green-500">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
								</svg>
							</div>
							Get exclusive discounts on kitchen tools and ingredients
						</li>
						<li>
							<div class="inline-block rounded-full bg-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="fill-green-500">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
								</svg>
							</div>
							Practice safe and sustainable cooking
						</li>
						<li>
							<div class="inline-block rounded-full bg-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="fill-green-500">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
								</svg>
							</div>
							Build and manage your meal plan
						</li>
						<li>
							<div class="inline-block rounded-full bg-white">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="fill-green-500">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
								</svg>
							</div>
							Discover the perfect pairings and deals for your favorite ingredients
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="flex h-full flex-grow basis-5/12 items-center justify-center bg-zinc-800">
			<div class="mx-2 flex h-auto w-11/12 justify-center rounded-lg bg-white">
				<div class="flex h-full w-5/6 flex-col items-center justify-start gap-6">
					<h1 class="w-full pt-8 text-start text-xl font-semibold">Reset your password</h1>
					<div class="flex justify-between gap-10">
						<ul class="list-disc text-nowrap text-xs font-medium text-gray-500 marker:text-green-600">
							<li>One lowercase character</li>
							<li>One uppercase character</li>
							<li>One number</li>
						</ul>
						<ul class="list-disc text-nowrap text-xs font-medium text-gray-500 marker:text-green-600">
							<li>One special character</li>
							<li>6 characters minimum</li>
						</ul>
					</div>
					<form asp-action="ResetPassword" method="post" class="flex w-full flex-col items-center justify-center gap-4">
						@Html.AntiForgeryToken()
						<input type="hidden" asp-for="Token" />
						<input type="hidden" asp-for="Email" />

						<div asp-validation-summary="All" class="text-sm text-red-500"></div>
						<label class="w-full text-start text-base font-semibold">New password</label>
						<div class="w-full">
							<input asp-for="NewPassword" type="password" placeholder="new password" class="h-[40px] w-full rounded-[7px] border border-[#d4d1d3] px-[10px]" />
							<span asp-validation-for="NewPassword" class="text-sm text-red-500"></span>
						</div>
						<label class="w-full text-start text-base font-semibold">Confirm new password</label>
						<div class="w-full">
							<input asp-for="ConfirmNewPassword" type="password" placeholder="confirm new password" class="h-[40px] w-full rounded-[7px] border border-[#d4d1d3] px-[10px]" />
							<span asp-validation-for="ConfirmNewPassword" class="text-sm text-red-500"></span>
						</div>
						<div class="w-full">
							<button type="submit" class="mb-8 h-10 w-full cursor-pointer rounded-lg bg-green-500 font-semibold text-white">Reset password</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const form = document.querySelector('form');
			const passwordInput = document.querySelector('input[name="NewPassword"]');
			const confirmPasswordInput = document.querySelector('input[name="ConfirmNewPassword"]');

			passwordInput.addEventListener('input', function () {
				validatePassword(passwordInput);
				validateConfirmPassword();
				passwordInput.reportValidity();
			});

			confirmPasswordInput.addEventListener('input', function () {
				validateConfirmPassword();
				confirmPasswordInput.reportValidity();
			});

			form.addEventListener('submit', function (event) {
				validatePassword(passwordInput);
				validateConfirmPassword();

				if (!form.checkValidity()) {
					event.preventDefault();
					passwordInput.reportValidity();
					confirmPasswordInput.reportValidity();
				}
			});

			function validatePassword(input) {
				const password = input.value;
				const minLength = 6;
				const requireDigit = /\d/.test(password);
				const requireLowercase = /[a-z]/.test(password);
				const requireUppercase = /[A-Z]/.test(password);
				const requireNonAlphanumeric = /[^a-zA-Z0-9]/.test(password);

				let message = '';
				if (password.length < minLength) {
					message = "Password must be at least 6 characters long.";
				} else if (!requireDigit) {
					message = "Password must contain at least one digit.";
				} else if (!requireLowercase) {
					message = "Password must contain at least one lowercase letter.";
				} else if (!requireUppercase) {
					message = "Password must contain at least one uppercase letter.";
				} else if (!requireNonAlphanumeric) {
					message = "Password must contain at least one non-alphanumeric character.";
				}

				input.setCustomValidity(message);
			}

			function validateConfirmPassword() {
				if (passwordInput.value !== confirmPasswordInput.value) {
					confirmPasswordInput.setCustomValidity("Passwords do not match");
				} else {
					confirmPasswordInput.setCustomValidity("");
				}
			}
		});
	</script>
}
