@{
    ViewData["Title"] = "Home Page";
}

Hello World!
<div class="bg-green-500 text-white font-semibold">
    This is Tailwind testing
    <a asp-area="Account" asp-controller="Auth" asp-action="Login">
        Login
    </a>
</div>